<div class="vg-page page-portfolio" id="portfolio">
    <div class="container">
        <div class="text-center wow fadeInUp">
            <div class="badge badge-subhead">Portfolio</div>
        </div>
        <h1 class="text-center fw-normal wow fadeInUp">My projects</h1>
        <div class="gridder">
            <div class="grid-item apps wow zoomIn">
                <div class="img-place" data-src="<%= asset_path "sqa.jpg" %>" data-fancybox data-caption="<h5 class='fg-theme'>Onesmile</h5> <p>Software Quality Assurance</p>">
                <%= image_tag "sqa.jpg", class: "img-responsive" %>
                    <div class="img-caption">
                        <h5 class="fg-theme">Onesmile</h5>
                        <b>Software Quality Assurance</b>
                    </div>
                </div>
            </div>
            <div class="grid-item template wireframes wow zoomIn">
                <div class="img-place" data-src="<%= asset_path "sqa.jpg" %>" data-fancybox data-caption="<h5 class='fg-theme'>Nestudio</h5> <p>Software Quality Assurance</p>">
                <%= image_tag "sqa.jpg", class: "img-responsive" %>
                    <div class="img-caption">
                        <h5 class="fg-theme">Nestudio</h5>
                        <b>Software Quality Assurance</b>
                    </div>
                </div>
            </div>
            <div class="grid-item template wireframes wow zoomIn">
                <div class="img-place" data-src="<%= asset_path "sqa.jpg" %>" data-fancybox data-caption="<h5 class='fg-theme'>Travelhub</h5> <p>Software Quality Assurance</p>">
                <%= image_tag "sqa.jpg", class: "img-responsive" %>
                    <div class="img-caption">
                        <h5 class="fg-theme">Travelhub</h5>
                        <b>Software Quality Assurance</b>
                    </div>
                </div>
            </div>
            <div class="grid-item template wireframes wow zoomIn">
                <div class="img-place" data-src="<%= asset_path "sqa.jpg" %>" data-fancybox data-caption="<h5 class='fg-theme'>Sinarmas plasma & psr</h5> <p>Software Quality Assurance</p>">
                <%= image_tag "sqa.jpg", class: "img-responsive" %>
                    <div class="img-caption">
                        <h5 class="fg-theme">Sinarmas plasma & psr</h5>
                        <b>Software Quality Assurance</b>
                    </div>
                </div>
            </div>
            <div class="grid-item template wireframes wow zoomIn">
                <div class="img-place" data-src="<%= asset_path "sqa.jpg" %>" data-fancybox data-caption="<h5 class='fg-theme'>Alomagada</h5> <p>Software Quality Assurance</p>">
                <%= image_tag "sqa.jpg", class: "img-responsive" %>
                    <div class="img-caption">
                        <h5 class="fg-theme">Alomagada</h5>
                        <b>Software Quality Assurance</b>
                    </div>
                </div>
            </div>
            <div class="grid-item template wireframes wow zoomIn">
                <div class="img-place" data-src="<%= asset_path "sqa.jpg" %>" data-fancybox data-caption="<h5 class='fg-theme'>Meratus</h5> <p>Software Quality Assurance</p>">
                <%= image_tag "sqa.jpg", class: "img-responsive" %>
                    <div class="img-caption">
                        <h5 class="fg-theme">Meratus</h5>
                        <b>Software Quality Assurance</b>
                    </div>
                </div>
            </div>
            <div class="grid-item template wireframes wow zoomIn">
                <div class="img-place" data-src="<%= asset_path "sqa.jpg" %>" data-fancybox data-caption="<h5 class='fg-theme'>Linkaja</h5> <p>Software Quality Assurance</p>">
                <%= image_tag "sqa.jpg", class: "img-responsive" %>
                    <div class="img-caption">
                        <h5 class="fg-theme">Linkaja</h5>
                        <b>Software Quality Assurance</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Portfolio page -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#8cc63f" fill-opacity="0.5" d="M0,32L30,32C60,32,120,32,180,58.7C240,85,300,139,360,149.3C420,160,480,128,540,144C600,160,660,224,720,208C780,192,840,96,900,90.7C960,85,1020,171,1080,213.3C1140,256,1200,256,1260,224C1320,192,1380,128,1410,96L1440,64L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
<div class="vg-page page-testimonial">
    <div class="container">
        <h1 class="text-center fw-normal wow fadeInUp">My Certificates</h1>
        <div class="row justify-content-center mt-5 wow fadeInUp">
            <div class="col-md-9">
                <div class="owl-carousel testi-carousel">
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img-place">
                                    <%= image_tag("sertificate-qa.jpeg") %>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="caption">
                                    <div class="testi-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img-place">
                                    <%= image_tag("sertificate-dart.jpeg") %>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="caption">
                                    <div class="testi-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img-place">
                                    <%= image_tag("sertificate-kotlin.jpeg") %>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="caption">
                                    <div class="testi-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img-place">
                                    <%= image_tag("sertificate-web.jpeg") %>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="caption">
                                    <div class="testi-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img-place">
                                <%= image_tag("sertificate-android.jpeg") %>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="caption">
                                <div class="testi-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe natus expedita ab facilis ut, animi explicabo amet. Voluptatibus possimus iste enim, doloremque, fugiat accusamus nisi optio fugit ratione expedita harum?</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>